.gpt3__wgpt3 {
    display: flex;
    padding: 3rem;
    flex-direction: column;
    border-radius: 10px;
    background : #d8f5de;
    border-radius : 30px;
}

.gpt3__wgpt3-content {
    display: flex;
    justify-content: space-between;
}

.gpt3__wgpt3-content__what {
    min-width: 12rem;
    margin-right: 10%;
}

.gpt3__wgpt3-content__answer {
    width: 63%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gpt3__wgpt3-content__gradline {
    width : 38px;
    height : 3px;
    background: #0a410a ;
}
.gpt3__wgpt3-content__what p {
    color: #379237 ;
    font-weight: 800;
    font-size: 24px;
    /* line-height: 75px; */
    font-family: var(--font-family);
    display: flex;
    align-items: flex-start;
}

.gpt3__wgpt3-content__answer p {
    color: #73b537;
    font-size: 1rem;
    line-height: 30px;
    font-family: var(--font-family);
    font-weight : 600;
}

.gpt3__wgpt3-possibility {
    display: flex;
    margin-top: 91px;
    justify-content: space-between;
}

.gpt3__wgpt3-possibility__para {
    width: 67%;
    display: flex;
    justify-content: flex-start;
}

.gpt3__wgpt3-content__explore {
    width: 10%;
}

.gpt3__wgpt3-possibility__para p {
    font-size: 34px;
    font-weight: 800;
    font-family: var(--font-family);
}

.gpt3__wgpt3-possibility__explore p {
    color: var(--color-subtext);
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    text-align: right;
}

.gpt3__wgpt3-features {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 91px;
}

.gpt3__wgpt3-features__chatbots,
.gpt3__wgpt3-features__knowledgebase,
.gpt3__wgpt3-features__education {
    width : 30%;
    display: flex;
    flex-direction: column;
    margin : 0 1rem;
}

.gpt3__wgpt3-features__chatbots-topic,
.gpt3__wgpt3-features__knowledgebase-topic,
.gpt3__wgpt3-features__education-topic {
    display : flex;
    flex-direction: column;
    align-items : flex-start;
    font-weight: 800;
    font-size: 24px;
    line-height: 75px;
    font-family: var(--font-family);
    color: #379237  ;
}

/* .gpt3__wgpt3-features__chatbots-topic img,
.gpt3__wgpt3-features__knowledgebase-topic img,
.gpt3__wgpt3-features__education-topic img{
    width : 50px;
    margin-top : 1rem;
} */

.gpt3__wgpt3-features__chatbots-img{
    width : 100%;
    display : flex;
    justify-content : center;
}
.gpt3__wgpt3-features__chatbots-img img{
    width : 50px;
    margin-top : 1rem;
}

.gpt3__wgpt3-features__chatbots-desc,
.gpt3__wgpt3-features__knowledgebase-desc,
.gpt3__wgpt3-features__education-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color : #73b53f ;
    font-family : var(--font-family);
    text-align: justify;
    margin-top : 2rem;
}

@media screen and (max-width : 1050px) {
    .gpt3__wgpt3 {
        margin: 4rem !important;
        padding: 3rem !important;
    }
    .gpt3__wgpt3-content {
        flex-direction: column;
        justify-content: center;
    }

    .gpt3__wgpt3-content__what {
        width: 100%;
        margin-right: 0;
    }

    .gpt3__wgpt3-content__answer {
        width: 100%;
        margin-right: 0;
    }
    
    .gpt3__wgpt3-features {
        flex-direction : column;
    }
    .gpt3__wgpt3-features__chatbots, 
    .gpt3__wgpt3-features__education, 
    .gpt3__wgpt3-features__knowledgebase{
        width : 100%;
        margin : 0;
    }

    .gpt3__wgpt3-features__chatbots-topic,
    .gpt3__wgpt3-features__knowledgebase-topic,
    .gpt3__wgpt3-features__education-topic {
        margin-bottom : 0;
        line-height : 55px;
    }

    .gpt3__wgpt3-features__chatbots-desc,
    .gpt3__wgpt3-features__knowledgebase-desc,
    .gpt3__wgpt3-features__education-desc {
        margin-bottom : 3rem;
        margin-top : 0;
    }
}

@media screen and (max-width : 720px) {
    .gpt3__wgpt3 {
        margin: 2rem !important;
        padding: 1rem !important;
    }

    .gpt3__wgpt3-possibility {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;margin-top : 3rem;
    }

    .gpt3__wgpt3-possibility__para {
        width: 100%;
        font-size: 30px;
    }

    .gpt3__wgpt3-possibility__explore {
        width: 100%;
        display: flex;
        margin-top: 0.5rem;
    }

    .gpt3__wgpt3-features {
        margin-top : 3rem;
    }
}