.gpt3__feature {
    display : flex;
    flex-direction : column;
}

.gpt3__feature-container__feature {
    display : flex;
    justify-content : space-between;
    align-items : flex-start;
    gap : 10%;
}

.gpt3__feature-container__feature-title {
    color: #379237 ;
    font-weight: 800;
    font-size: 10px;
    line-height: 24px;
    font-family: var(--font-family);
    display: flex;
    justify-content: flex-start;
    min-width : 240px;
}

.gpt3__feature-container__feature-text {
    color: #77b73b ;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    font-family: var(--font-family);
}

.gpt3__feature-box {
    width : 38px;
    height : 3px;
    background : var(--gradient-text);
    margin-bottom : 0.5rem;
}

@media screen and (max-width : 720px)
{
    .gpt3__feature-container__feature {
        flex-direction : column;
    }
    .gpt3__feature-container__feature-title {
        margin-bottom : 0.5rem;
    }
}