.farmeasy__card {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    background: #379237;
    border-radius : 20px;
    height : 300px;
}

.farmeasy__card-img {
    position : absolute;
    top : -70px;
    border-radius : 50%;
    background: #379237;
    width: 150px;
    height :150px;
    margin-bottom: 1rem;
    overflow: hidden;
}

.farmeasy__card-img img {
    /* width : 100%; */
    width: 150px;
    height :150px;
    border-radius : 50%;
}

.farmeasy__card-name {
    padding-top : 7rem;
}

.farmeasy__card-name p{
    font-weight: 800;
    font-size: 25.11px;
    line-height: 30px;
    font-family: var(--font-family);
    color: white;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.farmeasy__card-name__button {
    display : flex;
    align-items : center;
    justify-content : center;
    margin-top : 1rem;
}

.farmeasy__card-name__button button{
    margin-top : 2rem;
        background : #0a410a;
        height : 60px;
        width : 190px;
        border-radius: 50px;
        color : white;
        font-weight : 400;
        font-size : 20px;
        border : none;
        cursor : pointer;
}