.gpt3__links {
    display: flex;
    flex-direction: column;
    gap : 2rem;
    justify-content : flex-start;
    max-width : 116px;
    
}

.gpt3__links-title {
    display: flex;
    flex-direction: flex-start;
    font-size: 14px;
    line-height: 16px;
    color: white;
    font-family: var(--font-family);
    font-weight: 800;
}

.gpt3__links-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.gpt3__links-list a {
    color: white;
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 18px;
    cursor : pointer;
}

@media screen and (max-width : 500px){
    .gpt3__links { 
        max-width : 90px;
    }
}